.room-nav-container {
    cursor: pointer;
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    box-shadow: 0 0.1px 5px gray;
    background-color: var(--color-white);
    .name-content {
        margin: auto 30px;
        .name {
            gap: 20px;
            display: flex;
            align-items: center;
            color: var(--color-dark);
            h5 {
                font-size: large;
            }
            span {
                font-size: small;
            }
        }
    }
    .code-class-container {
        position: absolute;
        width: auto;
        display: flex;
        height: 100%;
        right: 100px;
        p {
            position: absolute;
            top: 60px;
            background-color: white;
            z-index: 99;
            display: none;
            font-size: 8pt;
            box-shadow: 1px 1px 2px rgb(168, 168, 168);
            padding: 3px 8px;
            border-radius: 8px;
        }
        span {
            transition: 0.2s;
            margin: auto;
            font-weight: bold;
            text-decoration: none;
            color: white;
            background-color: var(--color-primary);
            padding: 5px 15px;
            border-radius: 6px;
            cursor: pointer;
        }
        span:hover {
            background-color: rgb(93, 93, 93);
        }
    }
    .code-class-container:hover {
        p {
            display: block;
            position: absolute;
        }
    }
    .users-container {
        position: absolute;
        right: 30px;
        width: 50px;
        height: 100%;
        display: flex;
        button {
            font-size: 12pt;
            padding: 7px 10px;
            background-color: var(--color-primary);
            color: var(--color-white);
            border-radius: 5px;
            outline: none;
            border: none;
            margin: auto;
            cursor: pointer;
            transition: .2s ease;
        }
        button:active{
            background-color: rgb(144, 156, 212);
        }
    }
}
@media only screen and (max-width: 550px) {
    .room-nav-container {
        .name-content {
            .name {
                display: none;
            }
        }
        .code-class-container{
            right: auto;
            left: 100px;
        }
    }
}
